/* --Style CSS-- */



/* --Reset Style CSS-- */
@import url('reset.css');

/* --Import Fonts-- */
@import url('/fonts/Avant-Garde-Gothic-Condensed/Avant-Garde-Gothic-Condensed.css');



:root {
    /* --Color-- */
    --color-background: rgb(148, 0, 0);
    --color-text: #733B01;
    --color-text-border: #48D62B;

    /* --Font-Family-- */
    --font-family-AvantGarde-CondBook: 'AvantGarde LT CondBook';


}

body {
    background-color: var(--color-background);

}

.header {
    background-image: url('/image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

p {
    letter-spacing: 10px;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    color: var(--color-text);
    text-shadow: rgb(72, 214, 43) 2px 0px 0px,
    rgb(72, 214, 43) 1.75517px 0.958851px 0px,
    rgb(72, 214, 43) 1.0806px 1.68294px 0px,
    rgb(72, 214, 43) 0.141474px 1.99499px 0px,
    rgb(72, 214, 43) -0.832294px 1.81859px 0px, 
    rgb(72, 214, 43) -1.60229px 1.19694px 0px, 
    rgb(72, 214, 43) -1.97998px 0.28224px 0px, 
    rgb(72, 214, 43) -1.87291px -0.701566px 0px, 
    rgb(72, 214, 43) -1.30729px -1.5136px 0px, 
    rgb(72, 214, 43) -0.421592px -1.95506px 0px, 
    rgb(72, 214, 43) 0.567324px -1.91785px 0px, 
    rgb(72, 214, 43) 1.41734px -1.41108px 0px, 
    rgb(72, 214, 43) 1.92034px -0.558831px 0px;
}

.title-twin-peaks {
    font-family: var(--font-family-AvantGarde-CondBook);
}
